html {
    color: black;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

/* About */
.aboutWrapper {
    max-width: 100%;
    margin: 0 auto;
    padding: 40px;
    overflow: hidden;
    display: flex;
    align-items: center; 
}

.narrow {
    width: 30%;
    float: left;
    min-height: 175px;
}

.wide {
    width: 65%;
    float: left;
    padding-left: 3%;
    min-height: 225px;
}

.image {
    border-radius: 50%;
    max-width: 73%;
    height: auto;
}

.about {
    font-size: 115%;
}

.contact a {
    padding: 5px 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    text-decoration: none;
    background-color: #0d6efd;
    color: white;
    border-radius: 5px;
}

.contact a:hover {
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
    background-color: #0d5cd4;
    color: #e6e7e8;
}

.contact a:focus {
    background-color: #0650bf;
    color: #d4d5d6;
}

.contact a .buttonIcon {
    position: relative;
    bottom: 1.5px;
}

/* Experience */
.experienceWrapper {
    max-width: 100%;
    margin: 0 auto;
    padding-top: 40px;
    overflow: hidden;
}

.experienceImage {
    background: linear-gradient(rgba(156, 174, 169, 0.65), rgba(156, 174, 169, 0.65)), url('../../assets/experience.jpg') no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    padding: 110px;
    margin: 0;
}

.work {
    padding-top: 4%;
    padding-left: 8%;
    padding-right: 8%;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: repeat(1, 1fr);
}

.workTitle:nth-child(1) {
    grid-area: 1 / 1;
}
.workDate:nth-child(2) {
    grid-area: 1 / 2;
}
.workPosition:nth-child(3) {
    grid-area: 2 / 1;
}
.workDescription:nth-child(4) {
    grid-area: 3 / 1;
}
.workTechnologies:nth-child(5) {
    grid-area: 4 / 1;
}

.workTitle {
    text-align: left;
}

.workDate {
    font-style: italic;
    font-size: 120%;
    text-align: right;
}

.workPosition {
    text-align: left;
    font-size: 140%;
}

.workDescription {
    text-align: left;
    font-size: 110%;
}

.workTechnologies {
    text-align: left;
    font-size: 105%;
}

/* Projects */
.projectsWrapper {
    max-width: 100%;
    margin: 0 auto;
    padding-top: 40px;
    overflow: hidden;
}

.projectsImage {
    background: linear-gradient(rgba(156, 174, 169, 0.65), rgba(156, 174, 169, 0.65)), url('../../assets/projects.jpg') no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    padding: 110px;
    margin: 0;
}

.project {
    padding-top: 4%;
    padding-left: 8%;
    padding-right: 8%;
    display: grid;
}

.projectTitle {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: left;
}

.projectDescription {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: left;
    font-size: 110%;
}

.projectTechnologies {
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: left;
    font-size: 105%;
    margin-bottom: -0.4%;
}

/* Education */
.educationWrapper {
    max-width: 100%;
    margin: 0 auto;
    padding-top: 40px;
    overflow: hidden;
}

.educationImage {
    background: linear-gradient(rgba(156, 174, 169, 0.65), rgba(156, 174, 169, 0.65)), url('../../assets/education.jpeg') no-repeat center center fixed;
    background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    padding: 110px;
    margin: 0;
}

/* Education - CSUN */
.csun {
    padding-top: 4%;
    padding-left: 8%;
    padding-right: 8%;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: repeat(1, 1fr);
}

.csunTitle:nth-child(1) {
    grid-area: 1 / 1;
}
.csunDate:nth-child(2) {
    grid-area: 1 / 2;
}
.csunDegree:nth-child(3) {
    grid-area: 2 / 1;
}
.csunAchievements:nth-child(4) {
    grid-area: 3 / 1;
}

.csunTitle {
    text-align: left;
}

.csunDate {
    font-style: italic;
    font-size: 120%;
    text-align: right;
}

.csunDegree {
    text-align: left;
    font-size: 140%;
}

.csunAchievements {
    text-align: left;
    font-size: 120%;
    margin-top: -1.6%;
}

.csunAchievements li {
    padding-top: 0.3%;
}

/* Skills */
.skillsWrapper {
    max-width: 100%;
    margin: 0 auto;
    padding-top: 40px;
    overflow: hidden;
}

.skillsImage {
    background: linear-gradient(rgba(156, 174, 169, 0.75), rgba(156, 174, 169, 0.75)), url('../../assets/skills.jpg') no-repeat center center fixed;
    background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    padding: 110px;
    margin: 0;
}

.skillsList {
    text-align: left;
    padding-top: 4%;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 2%;
}

.skillsTitle {
    font-size: 130%;
    font-weight: bold;
}

.skillsItemsPadding {
    padding-left: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.skillsItems {
    font-size: 110%;   
    padding: 5px 10px;
    margin: 5px 8px;
    display: inline-block;
    background-color: #1a6fed;
    color: white;
    border-radius: 5px;
}

/* Footer */
.footerTitle {
    font-size: 120%;
    margin-bottom: -0.6%;
}

.footerLinks a {
    padding-left: 0.7%;
    padding-right: 0.7%;
    padding-bottom: 2%;
    font-size: 150%;
}

.github {
    color: black;
}

/* Tablet size - Horizontal/Landscape */
@media only screen and (min-device-width: 768px) 
                   and (max-device-width: 1200px) 
                   and (orientation: landscape) 
                   and (-webkit-min-device-pixel-ratio: 1) {

    /* Background Images */
    .experienceImage, .projectsImage, .educationImage, .skillsImage {
        background-attachment: initial;
        padding: 150px;
    }

}

/* Tablet size - Vertical */
@media (max-width: 991px) {
    /* About */
    .image {
        min-width: 90%;
    }

    /* Experience */
    .work {
        display: block;
    }

    .workTitle {
        padding-top: 5%;
    }

    .workDate {
        text-align: left;
    }

    /* Projects */
    .projectTitle {
        padding-top: 5%;
    }
    
    /* Education */
    .csun {
        display: block;
    }

    .csunTitle {
        padding-top: 5%;
    }

    .csunDate {
        text-align: left;
    }

    /* Background Images */
    .experienceImage, .projectsImage, .educationImage, .skillsImage {
        background-attachment: initial;
    }

    /* Footer */
    .footerLinks a {
        padding-bottom: 4%;
    }

}

/* Phone Size */
@media (max-width: 594px) {
    /* About */
    .aboutWrapper {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(1, 1fr);
    }

    .narrow, .wide {
        width: 100%;
        padding-left: initial;
    }

    .image {
        min-width: 40%;
        margin-bottom: 4%;
    }

    /* Footer */
    .footerLinks a {
        padding-bottom: 6%;
    }
    
}

/* Change contact button layout for smaller width */
@media (max-width: 408px) {
    /* About */
    .contact {
        display: grid;
        justify-content: center;
    }

    .contact a {
        margin: 5px;
    }

    /* Footer */
    .footerLinks a {
        padding-bottom: 7%;
    }
}
