/* Import Source Sans Pro font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Source+Sans+Pro&display=swap');

:root {
  --body-color: white;
  --font-color: black;
  --contact-button-font-color: white;
  --contact-button-background-color: #0d6efd;
  --contact-button-hover-font-color: #e6e7e8;
  --contact-button-hover-background-color: #0d5cd4;
  --contact-button-active-font-color: #d4d5d6;
  --contact-button-active-background-color: #0650bf;
  --background-image-gradient-color: rgba(156, 174, 169, 0.65);
  --skills-gradient-color: rgba(156, 174, 169, 0.75);
  --item-active-color: #d3d3d3;
  --item-hover-color: #e9ecef;
  --item-active-hover-color: #bebebe;
}

:root.darkTheme {
  --body-color: #2b2b2b;
  --font-color: white;
  --light-hamburger-bar-icon: url('/src/assets/hamburger-bar.svg');
  --item-active-color: #656565;
  --item-hover-color: #808080;
  --item-active-hover-color: #555555;
}

body {
  margin: 0;
  /* Set Google Fonts as important */
  font-family: 'Montserrat', sans-serif !important;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
